<form action="/rooms/create-room" method="post">

<label for="nameId">Room Name</label>

<input type="text" name="name" id="nameId">

<label for="descriptionId">Description</label>

<input type="text" name="description" id="descriptionId">

<label for="imageId">Photo</label>

<input type="text" name="imageUrl" id="imageId">

<button type="submit">Create Room</button>

</form>